{% extends 'products/base.html' %}

{% block content %}

<h1 align="center">{{ title }}</h1>


<form method="post" class="login_form">

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
    <div class="non_field_errors">{{ form.non_field_errors }}</div>

    {% for f in form %}
    <p class="p_form"><label for="{{ f.id_for_label }}" class="label_form">{{f.label}}</label>{{f}}</p>
    <div class="form_errors">{{f.errors}}</div>
    {% endfor %}



    <p><button type="submit" class="btn_login">Изменить</button></p>

</form>

{% endblock %}