{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}
{% load products_tags %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Категории</h1>
            <div class="list-group">
                <a href="#" class="list-group-item">Новинки</a>
                <a href="#" class="list-group-item">Одежда</a>
                <a href="#" class="list-group-item">Обувь</a>
                <a href="#" class="list-group-item">Аксессуары</a>
                <a href="#" class="list-group-item">Подарки</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="{% static 'vendor/images/Apple-iPhone-15-Pro-lineupjpg.jpg' %}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="{% static 'vendor/images/istockphoto-1140541722-170667a.jpg' %}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="{% static 'vendor/images/51008379475_5fe4bc4e65_b.jpg' %}" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            {% if not request.GET.q %}
                <h4 align="center">Всего: {{ products_count }} товаров</h4>
            {% endif %}

            {% if request.GET.q %}
            <p>{{ title }}</p>
            {% if not products %}
            <b>По вашему запросу ничего не найдено</b>
            {% endif %}
            {% endif %}

            <div class="row">




                {% if products %}
                                        <!--        ФИЛЬТР        -->

                        <div class="dropdown mb-2">
                            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Фильтры
                            </button>

                            <form action="{% url 'products:home' %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault"
                                           value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
<!--                                    <input type="hidden" name="q" value="request.GET.q">-->
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Товары по акции
                                    </label>
                                </div>



                                <div class="flex_radio_color">

                                <div class="form-check text-white mx-3 form_radio_btn_white">
                                    <input class="form-check-input white_color" type="radio" name="color_white" id="flexRadioColor"
                                           value="phone_color" {% if request.GET.color == 'phone_color' %}checked{% endif %}>
                                    <label for="flexRadioColor" title="Белый">Б</label>
                                </div>

                                <div class="form-check text-white mx-3 form_radio_btn_grey">
                                    <input class="form-check-input white_color" type="radio" name="color_grey" id="flexRadioColor2"
                                           value="phone_color" {% if request.GET.color == 'phone_color' %}checked{% endif %}>
                                    <label for="flexRadioColor2" title="Натуральный Титан">Б</label>
                                </div>
                                </div>

                                <p class="text-white mx-3 mt-3 ">Сортировать:</p>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1"
                                           value="default" {% if request.GET.order_by == 'default' or not request.GET.order_by %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        По умолчанию
                                    </label>
                                </div>

                                {% for filter in filters %}
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="{{ filter.id_input }}"
                                           value="{{ filter.value }}" {% if request.GET.order_by == filter.value %}checked{% endif %}>
                                    <label class="form-check-label" for="{{ filter.value }}">
                                        {{ filter.name }}
                                    </label>
                                </div>
                                {% endfor %}

<!--                                <div class="form-check text-white mx-3">-->
<!--                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3"-->
<!--                                           value="-price" {% if request.GET.order_by == '-price' %}checked{% endif %}>-->
<!--                                    <label class="form-check-label" for="flexRadioDefault3">-->
<!--                                        От дорогих к дешевым-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                                        <div class="form-check text-white mx-3">-->
<!--                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault4"-->
<!--                                           value="name" {% if request.GET.order_by == 'name' %}checked{% endif %}>-->
<!--                                    <label class="form-check-label" for="flexRadioDefault4">-->
<!--                                        По алфавиту (название)-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                                        <div class="form-check text-white mx-3">-->
<!--                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault5"-->
<!--                                           value="brand_id" {% if request.GET.order_by == 'brand_id' %}checked{% endif %}>-->
<!--                                    <label class="form-check-label" for="flexRadioDefault5">-->
<!--                                        По алфавиту (бренд)-->
<!--                                    </label>-->
<!--                                </div>-->

                                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                            </form>
                        </div>

                {% endif %}


                {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">

                        {% if product.image %}
                        <a href="{{ product.get_absolute_url }}">
                            <img class="card-img-top"
                                 src="{{ product.image.url }}"
                                 alt="image">
                        </a>

                        {% else %}
                         <a href="{{ product.get_absolute_url }}">
                            <img class="card-img-top"
                                 src="{% static '360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg' %}"
                                 alt="no image">
                        </a>

                        {% endif %}

                        {% if product.discount %}
                        <div class="discount">{{ product.discount }}%</div>
                        {% endif %}


                        <div class="card-body">
                            <h4 class="card-title" align="center">
                                <a href="{{ product.get_absolute_url }}">
                                    {% autoescape off %}
                                        {% if product.headline %}{{ product.headline }}
                                        {% else %}{{ product.name }}
                                        {% endif %}
                                    {% endautoescape %}
                                    <h5>{{ product.phone_memory }}</h5>
                                </a>
                            </h4>

                            {% if product.discount %}
                            <h6 align="center">{{ product.sell_price|intcomma }} руб.</h6>
<!--                            <p class="card-text">{{ product.description }}</p>-->
                            <h6 align="center" class="price_before_discount">{{ product.price|intcomma }} руб.</h6>


                            {% else %}
                            <h6 align="center">{{ product.price|intcomma }} руб.</h6>

                            {% endif %}

                            <p align="center"><em>id: {{ product.display_id }}</em></p>

                            <a href="#">
                                <h5 align="center">{{ product.brand }}</h5>
                            </a>

                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'carts:cart_add' product.slug %}" class="btn btn-outline-success add-to-cart">
<!--                            data-product-id="{{ product.id }}">-->
<!--                                {% csrf_token %}-->
                                Отправить в корзину
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>



            <!--PAGINATION-->

            {% if products %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">


                    <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                        <a class="page-link" href="{% if products.has_previous %}?{% change_params page=products.previous_page_number %}
                         {% else %} # {% endif %}" tabindex="-1" aria-disabled="true">Предыдущая</a>
                    </li>


                    {% for page in products.paginator.page_range %}
                    {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                    <li class="page-item {% if page == products.number %} active {% endif %}">
                        <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}


                    <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                        <a class="page-link" href="{% if products.has_next %}?{% change_params page=products.next_page_number %}
                        {% else %} # {% endif %}">Следующая</a>
                    </li>

                </ul>
            </nav>
{% endif %}

        </div>

    </div>
</div>

{% endblock %}